body{
    margin: 0;
    padding: 0;
    background-color: #95C542;
}
 
header{
    background-color: white;
    color: #374a17;
    text-align: center;
    padding: 0.2px;
    margin-top: -20px;
}
 
h1{
    margin-top: 35px;
}
 
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
 
#email{
    text-align: center;
}
 
footer{
    background-color: white;
    color: #374a17;
    text-align: center;
    margin-top: 3%;
}